@import '../../../components/Shared/mixins.scss';

h1, h2, h3, h4, h5, p {
  font-family: helvetica;
  color: #cc0a0a;
  @include largeTablet {
    display:none;
  }
  @include desktop {
    display:block;
  }
}
.description {
  font-size: 14px;
  color: #9e9e9e;
}
